
{% extends "layout.html" %}
{% block content %}
    <section class="top-section">
        <h1 class="page-header"></h1>
    </section>

    <section class="content-section">
		<h2 class="sub-header">Gebruikers</h2>
		<form action="/admin" class="search-form" method="POST">
			<input type="submit" value="Nieuwe gebruiker" class="green-submit">
		</form>
        <div class="table-items">
            {% for item in data %}  
                <div class="table-item">
                        {% for part in item %}
                            <!-- check for index 1 because this is the id -->
                            {% if(loop.index == 1) %}
                                <p>
                                    <span class="item-id">ID:   
                                        <span>{{ part }}</span> 
                                    </span> 
                                </p>
                            {% else %}
                                <p class="item-attribute {% if current_column==columns[loop.index-1] %} error {% endif %}" >
                                    <strong>{{columns[loop.index-1]}}:</strong> 
                                        {{ part }}
                                </p>
                            {% endif %}

                        {% endfor %}
                </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}