
{% extends "layout.html" %}
{% block content %}
    <section class="top-section">
        <h1 class="page-header">Tabellen</h1>
        <form action="/data" class="top-search-form" method="GET">
            <select class="custom-select" name="table_choice" id="">
                <!-- for every table an option in select, with selected attribute if that is the current table  -->
                {% for table in tables %}  
                    {% if current_table==table %} 
                        <option value="{{table}}" selected>{{table}}</option>
                    {% else%}
                        <option value="{{table}}" >{{table}}</option>

                    {% endif %}
                {% endfor%}
                <!-- <option value="users" >users</option> -->

            </select>

            <input type="submit" value="Zoeken" class="green-submit">
        </form>
    </section>

    <section class="content-section">

         <!-- The Modal -->
         <div id="popup" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
            <span id="close-popup" class="close">&times;</span>
            <form action="/editquestion" method="POST"> 
                <label for="id" id="text-vraag"> Je bewerkt nu vraag </label><br><br>
                <input type="hidden" id="id" name="id" value="">
                <label for="question"> Vraag </label> 
                <input type="text" id="question" name="question" value=""> <br><br>
                <label for="leerdoel"> Leerdoel </label> 
                <input type="text" id="leerdoel" name="leerdoel" value=""> <br><br>
                <label for="auteur"> Auteur </label> 
                <input type="text" id="auteur" name="auteur" value=""> <br><br>
                <input type="submit" value="Edit">
            </form>
            </div>
        
        </div>

        <h2 class="sub-header">{{current_table}}</h2>
        <form action="/data" class="search-form" method="get">
            <!-- hidden field for current table for next query's  -->
            <input type="hidden" name="table_choice" value="{{current_table}}">

            <!-- if current table == vragen show these selects for further sorting -->
            {% if current_table == 'vragen'%}
                <div class="form-row">
                    <span>Type fout: </span>
                    <select class="custom-select" name="error_type" id="error_type_select" >
                        <option value="alles" {% if current_type=='alles' %} selected {% endif %} >Alles</option>
                        <option value="leerdoel" {% if current_type=='leerdoel' %} selected {% endif %} >Ongeldig leerdoel</option>
                        <option value="html" {% if current_type=='html' %} selected {% endif %}>HTML codes</option>
                        <option value="empty" {% if current_type=='empty' %} selected {% endif %}>Lege kolom</option>
                    </select>

                    <select class="custom-select" name="column" id="column_select" {% if current_type!='empty' %} style="display: none;" {% endif %}>
                        <!-- option for every column in table  -->
                        {% for column in columns%}
                            <option value="{{column}}" {% if current_column==column %} selected {% endif %}>{{column}}</option>
                        {% endfor%}
                    </select>
            {%endif%}
            
      
                </div>
                <!-- column for select between 2 values -->
                <p class="explain-text">Selecteer een kolom voor sorteren van minimaal, maximaal waardes</p>
                <div class="min-max-div">
                    <span for="">Kolom:</span>
                    <select class="custom-select" name="between_column" id="between_column">
                        {% for column in columns%}
                            <!-- check if column is in the allowed_between_column list (only columns with integers) -->
                            {%if column in allowed_between_columns %}
                                <option value="{{column}}" {% if current_between_column==column %} selected {% endif %}>{{column}}</option>
                            {%endif%}
                        {% endfor%}
                    </select>
                </div>

                <!-- kolommen met mogelijkheid min-max: leerdoel, id, auteur -->
                <div id="min-max" class="min-max-div">
                    <!-- <p class="explain-text" id="min_max_text">Laden...</p> -->
                    <span>Minimaal: </span>
                    <input id="min-input" name="min" placeholder="minimaal" type="number" class="text-input" value="">
                    <span>Maximaal: </span>
                    <input id="max-input" name="max" placeholder="maximaal" type="number" class="text-input" value="">
                </div>
                <!-- submit form  -->
                <input type="submit" value="Zoeken" class="green-submit">


        </form>

        <div class="table-items">
            {% for item in data %}  
                <div class="table-item" id="{{item[0]}}" data-id="{{item[0]}}">
                        {% for part in item %}
                            <!-- check for index 1 because this is the id -->
                            {% if(loop.index == 1) %}
                                <p>
                                    <a class="id-link" href="question/{{ part }}" target="_blank">
                                        <span class="item-id">ID:   
                                            <span>{{ part }}</span> 
                                        </span> 
                                    </a>
                                </p>
                            {% else %}
                                <p class="item-attribute {% if current_column==columns[loop.index-1] %} error {% endif %}" >

                                    <strong>{{columns[loop.index-1]}}:</strong> 
                                    <!-- if index == 2 for leerdoel field -->   
                                    {% if current_table == 'vragen' and loop.index == 2 and leerdoelen != None %}
                                        <!-- check if leerdoel id exists -->
                                        {% if not leerdoelen[0][part]%}
                                            <!-- does not exist  -->
                                            <span class="error">{{part}}, Bestaat niet</span>
                                        {% else %}
                                            <!-- does exist, show text form  -->
                                            {{leerdoelen[0][part][1]}} ({{part}})
                                        {%endif%}
                                    {% else %}
                                        {{ part }}


                                    {% endif%}
                                </p>
                            {% endif %}

                        {% endfor %}

                    </div>
            {% endfor %}

            {% if data == [] %}
                <!-- if there are no rows from query -->
                <p>Geen resultaten, probeer een andere zoekopdracht</p>
            {% endif %}
        </div>
    </section>
    <!-- Script used to hide unnecessary select by choice of error type  -->
    <script>
        

        var elements = document.getElementsByClassName("table-item");
        var popup = document.getElementById("popup");

        var dataArray = [];

       var elements = document.getElementsByClassName("table-item");

        var myFunction = function() {
            var attribute = this.getAttribute("data-id");
            popup.style.display = "block";
            console.log(attribute);
            $.ajax({
                type: "GET",
                url: "/getitem",
                data: {id : attribute},
                success: function (res) {
                   //document.getElementById("popup-id").innerText = res[0]
                   document.getElementById("id").value = res[0];
                   document.getElementById("leerdoel").value = res[1];
                   document.getElementById("question").value = res[2];
                   document.getElementById("auteur").value = res[3];
                   document.getElementById("text-vraag").innerHTML = "Je bewerkt nu vraag " + res[0]

                },
                error: function (res, options, error) {
                    console.log(res.status);
                    console.log(error);
                    console.log(options);
                }
            });
        };

        close = function() {
            popup.style.display = "none"
        };

        for (var i = 0; i < elements.length; i++) {
            elements[i].addEventListener('click', myFunction, false);
        }

        // get correct select element
        var errorSelect = document.getElementById('error_type_select');
        var betweenSelect = document.getElementById('between_column');
        document.getElementById("close-popup").addEventListener('click', close)

        // convert minmax to JSON so javascript can use it
        var minmax = JSON.parse('{{minmax | tojson}}');

        chosen_min = '{{chosen_min}}'
        chosen_max = '{{chosen_max}}'
        var selectedTable = '{{current_table}}'
        // Check if min and max are already set by user
        if( chosen_min != "None" && chosen_max != "None"){
            // place chosen values in inputs
            console.log(chosen_max)
            document.getElementById('min-input').value = chosen_min
            document.getElementById('max-input').value = chosen_max
            
        }else{
            // set value of min max inputs with values from database

            // if user loads in set to right min max values
            selected = betweenSelect.options[betweenSelect.selectedIndex].value
            // document.getElementById('min_max_text').innerText = "Tussen: "+minmax[selected][0]+" - "+minmax[selected][1]
            document.getElementById('min-input').value = minmax[selectedTable][selected][0]
            document.getElementById('max-input').value = minmax[selectedTable][selected][1]
        }



        onChange = function() {
            // check for option where the select needs to be shown, so when this is true : it is shown
            var shown = this.options[this.selectedIndex].value == 'empty';
            // hide or show select element
            document.getElementById('column_select').style.display = shown ? 'block' : 'none';
        };

        onChangeBetween = function() {
            // change min max values according to selected option
            console.log(selectedTable)
            selected = this.options[this.selectedIndex].value
            document.getElementById('min-input').value = minmax[selectedTable][selected][0]
            document.getElementById('max-input').value = minmax[selectedTable][selected][1]

        };


        // execute onChange if select option changes
        if(selectedTable == 'vragen'){
            // element only exists if table == vragen
            errorSelect.addEventListener('change', onChange);
        }
        
        betweenSelect.addEventListener('change', onChangeBetween);
    </script>
    
{% endblock %}