{% extends "layout.html" %}
{% block content %}
    <section class="top-section">
        <h1 class="page-header">Bewerken</h1>
        <form action="" class="user-form">
			<label for="vraag">Vraag:</label>
			<input type="text" id="vraag" name="vraag" class="text-input">
			<label for="leerdoel">Leerdoel:</label>
			<input type="text" id="leerdoel" name="leerdoel" class="text-input">
			<label for="auteur">Auteur:</label>
			<input type="text" id="auteur" name="auteur" class="text-input">
        </form>
    </section>
    
{% endblock %}