{% extends "layout.html" %}
{% block content %}
    <section class="top-section">
        <h1 class="page-header">Home</h1>
    </section>
    <section class="uitleg-section">
    <h2 class="sub-header">Uitleg</h2>
    <div>
        <p>Op dit platform is het mogelijk te sorteren op foutive database items.</p>
        <p>Bij "Tabel kiezen" kunt u de tabel kiezen waar u de items van wilt zien.</p>
        <br>
        <p>Bij de vragen tabel kunt u filteren op de volgende fouten:</p>
        <ul>
            <li>Alles</li>
            <li>Ongeldig leerdoel</li>
            <li>Ongeldig auteur</li>
            <li>HTML codes</li>
            <li>Lege kolom</li>
            <li>Verkeerde waarde</li>
        </ul>
        <br>
        <p>Bij de type fouten: <span class="bold">Lege kolom</span> en <span class="bold">Verkeerde waarde</span>, krijgt u een extra optie om te filteren op een kolom naar keuze</p>
        <p>Elke vraag kan ook een <span class="bold">uitzonderings tag</span> krijgen, hier kan ook op gefilterd worden.</p>
        <p>Er kan gefilterd worden op de <span class="bold">minimale</span> en <span class="bold">maximale</span> waarden voor kollomen met getallen.</p>
        <p>Als u op een vraag klikt kunt u deze aanpassen, hier kunt u ook een uitzonderings tag toevoegen.</p>
        <br>
        <p>Klik <a href="/data">hier</a> om naar het vragen platform te gaan.</p>
        <p></p>
        <p></p>
    </div>
    </section>
{% endblock %}