<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Incorrect Data</title>
    <link rel="stylesheet" href="/static/basic.css" type="text/css">
</head>
<body>
    <section class="top-section">
        <h1 class="page-header">Tabellen</h1>
        <form action="" class="search-form">
            <select class="custom-select" name="table_choice" id="">
                <option value="">Value 1</option>
                <option value="">Value 2</option>
                <option value="">Value 3</option>
                <option value="">Value 4</option>
            </select>
            <input type="submit" value="Zoeken" class="green-submit">
        </form>

    </section>

    <section class="content-section">
        <h2 class="sub-header">Content titel</h2>
        <div class="table-items">
            <div class="table-item">
                <p><span class="item-id">ID: <span>58</span> </span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias beatae ab quas sit recusandae, </p>
            </div>            
            <div class="table-item">
                <p><span class="item-id">ID: <span>59</span> </span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias beatae ab quas sit recusandae, </p>
            </div>            
            <div class="table-item">
                <p><span class="item-id">ID: <span>60</span> </span> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Molestias beatae ab quas sit recusandae, </p>
            </div>
        </div>
    </section>
    

</body>
</html>