
{% extends "layout.html" %}
{% block content %}
    <section class="top-section">
        <h1 class="page-header">Login</h1>
        <form action="" class="user-form">
			<label for="username">Username:</label>
			<input type="text" id="username" name="username" class="text-input">
			<label for="password">Wachtwoord:</label>
			<input type="text" id="password" name="password" class="text-input">
			<input type="submit" value="Inloggen" class="green-submit">
        </form>
    </section>
    
{% endblock %}